#body{
    background-color:plum;
}

form{
    padding: 20%;
    margin-bottom: -15%;
}

input{
    display: block;
    background-color: #d9d9d9;
}

input[type="submit"]{
    background-color: #a3a3a3;
    width: 30%;
}

table{
    background-color: plum;
    margin-top: -9%;
    margin-left: 11%;
    padding: 5%;
}

th, td{
    border: 10px solid plum;
    background-color: #d9d9d9;
}
/* th:nth-child(1), th:nth-child(3n){
    background-color: white;
} */

#applicants{
    margin-left: 20%;
}

